/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #333333;
	background-color: #F6F6F6;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #3E3E3E;
}

h3 {
	color: #3E3E3E;
}

hr {
	border-color: #E4E4E4;
}

hr.dashed {
	border-top-color: #E4E4E4;
}

/* Search box
--------------------------------------------- */

.search-box {
	color: #FFFFFF;
}

.search-box #keywords {
	background-color: #FFF;
}

.search-box input {
	border: 0;
}
.search-box .search-box-inner .button2 {
    border: 0;
    cursor: pointer;
    float: right;
    height: 26px;
    padding: 0;
    text-indent: -9999px;
    width: 26px !important;	
	
    background-attachment: scroll;
    background-image: url("{T_THEME_PATH}/images/search-button-bg.png");
    background-position: left top;	
}
.search-box .search-box-inner .button2:hover {
    background-position: left bottom;	
}


/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	background-color: #12A3EB;
	/*background-image: url("{T_THEME_PATH}/images/bg_header.gif");*/
	color: #FFFFFF;
}

.navbar {
	/*background-color: #cadceb;*/
}

.forabg {
	background-color: #43A6DF;
}

.forumbg {
	background-color: #43A6DF;
}

.panel {
	background-color: #FFFFFF;
	border: solid 1px #E4E4E4;
	padding: 12px;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1	{ background-color: #fff; overflow: hidden; }
.bg2	{ background-color: #fff; overflow: hidden; }
.bg3	{ background-color: #fff; overflow: hidden; }

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #E4E4E4;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #F2F2F2;
	color: #000;
}

table.table1 td {
	color: #43A6DF;
}

table.table1 tbody td {
	border-top-color: #E4E4E4;
}

table.table1 tbody th {
	border-bottom-color: #E4E4E4;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

#memberlist, .table-list {
	border-collapse: collapse;
}
#memberlist th, .table-list th {
	background-color: #2E3539;
	padding: 14px 0;
}
#memberlist th.name, .table-list th.name {
	padding-left: 6px;
}
/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
	font-weight: bold;
}

dl.details dd {
}

.sep {
	color: #43A6DF;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #2E3539;
	border-color: #2E3539;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	background-color: #FFFFFF;
	border-color: #E4E4E4;
}

.pagination span a:hover {
	border-color: #43A6DF;
	background-color: #43A6DF;
	color: #FFF;
}

.pagination span a:active {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.png");
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #368AD2;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	
}
.post.reported, .row.reported {
	border: solid 3px #FF5500;
}

li.reported:hover {
	
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #2E3539;
	color: #FFFFFF;
	background-attachment: scroll;
	background-image: url("{T_THEME_PATH}/images/notice-exclamation.png");
	background-repeat: no-repeat;
	background-position: 12px 12px;
	padding-left: 60px;
}
div.rules a {
	color: #43A6DF;
	font-weight: bold;
	text-decoration: underline;
}
div.rules a:hover {
	text-decoration: none;
}

p.rules {
	background-image: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #43A6DF; }
a:visited	{ color: #43A6DF; }
a:hover	{ color: #43A6DF; }
a:active	{ color: #43A6DF; }

/* Links on gradient backgrounds */
.search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #43A6DF;
}

.search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #43A6DF;
}

.search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #43A6DF;
}

.search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #43A6DF;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #2E3539;
}

/* a.forumtitle:visited { color: #105289; } */

a.forumtitle:hover {
	color: #2E3539;
}

a.forumtitle:active {
	color: #2E3539;
}

a.topictitle {
	color: #43A6DF;
}

/* a.topictitle:visited { color: #368AD2; } */

a.topictitle:hover {
	color: #43A6DF;
}

a.topictitle:active {
	color: #43A6DF;
}

/* Post body links */
.postlink {
	color: #43A6DF;
	border-bottom-color: #43A6DF;
}

.postlink:visited {
	color: #43A6DF;
	border-bottom-color: #43A6DF;
}

.postlink:active {
	color: #43A6DF;
}

.postlink:hover {
	background-color: transparent;
	color: #43A6DF;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #43A6DF;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #43A6DF;
}

.postprofile a:active {
	color: #43A6DF;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #43A6DF;
}

.search .postprofile a:hover {
	color: #43A6DF;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.png") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.png") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.png") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.png") }

a.up:hover {
	background-color: transparent;
	color: #43A6DF;
}

a.left:hover {
	text-decoration: underline;
	color: #43A6DF;
}

a.right:hover {
	text-decoration: underline;
	color: #43A6DF;
}


/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #ffffff;
}
.ucp-main ul.topiclist {
	background-color: #2E3539;
	color: #fff;
	clear: both;
}
ul.topiclist li {
	
}

ul.topiclist dd {
	border-left-color: #FFFFFF;
}

.rtl ul.topiclist dd {
	border-right-color: #fff;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row {
	
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #F2F2F2;
}

li.row:hover dd {
	
}

.rtl li.row:hover dd {
	
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333333;
}
.mcp-main .header {
	background-color: #2E3539;
    color: #FFFFFF;
}
/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2, .panel h2 {
	border-bottom-color:  #E4E4E4;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

/* Post signature */
.signature {
	border-top-color: #E4E4E4;
}

/* Post noticies */
.notice {
	border-top-color:  #E4E4E4;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #F7F7F7;
	background-image: url("{T_THEME_PATH}/images/quote.gif");
	border-color:#E4E4E4;
}

.rtl blockquote {
	background-image: url("{T_THEME_PATH}/images/quote_rtl.gif");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#EFEED9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */
dl.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

dl.codebox dt {
	border-bottom-color:  #CCCCCC;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #E4E4E4;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-left-color: #FFFFFF;
}

.rtl .postprofile {
	border-right-color: #FFFFFF;
	border-left-color: transparent;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.rtl .pm .postprofile {
	border-right-color: #DDDDDD;
	border-left-color: transparent;
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("{IMG_ICON_USER_ONLINE_SRC}");
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print.png");
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_sendemail.png");
}

a.fontsize {
	background-image: url("{T_THEME_PATH}/images/icon_fontsize.gif");
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
/*.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.gif"); }*/
/*.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.gif"); }*/
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
/*.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.gif"); }*/
/*.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.gif"); }*/
/*.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.gif"); }*/
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.png"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.png"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.png"); }
/*.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.gif"); }*/
/*.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.gif"); }*/

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); } /* Need updated warn icon */

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #E4E4E4;
}

#cp-main .panel li.row {
	border-bottom-color: #E4E4E4;
}

ul.cplist {
	border-top-color: #E4E4E4;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	
}

#cp-main table.table1 thead th {
	border-bottom-color: #E4E4E4;
}

#cp-main .pm-message {
	border-color: #E4E4E4;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	
}

#tabs a span {
	
}

#tabs a:hover span {
	
}

#tabs .activetab a {
	
}

#tabs .activetab a span {
	color: #333333;
}

#tabs .activetab a:hover span {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #E1EBF2;
}

#minitabs li.activetab {
	background-color: #F9F9F9;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #333333;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #fff;
	background-color: #43A6DF;
}

.rtl #navigation a {
}

#navigation a:hover {
	background-image: none;
	background-color: #2E3539;
	color: #fff;
}

#navigation #active-subsection a {
	color: #fff;
	background-color: #2E3539;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #fff;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	
}

#cp-main .panel {
	
}

#cp-main .pm {
	background-color: #FFFFFF;
}

#cp-main span.corners-top, #cp-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#cp-main span.corners-top span, #cp-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

/* Topicreview */
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

/* Friends list */
.cp-mini {
	background-color: #eef5f9;
}

dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	color: #000;
}

label {
	
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #F7F7F7; 
	border-color: #E4E4E4;
	color: #333333;
	padding: 6px;
}

.inputbox:hover {
	border-color: #43A6DF;
}

.inputbox:focus {
	border-color: #43A6DF;
	background-color: #F7F7F7;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #FFFFFF;
	background-color: #43A6DF;
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #FFFFFF;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	
	color: #FFFFFF;
}

input.search {
	
}

input.disabled {
	color: #666666;
}
