<div class="inner-programs pull-left">
	<div class="tabs inner-tabs">
	        {{ content() }}
	        <h3>Thank your for donating.</h3>
	        <p>
	        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod iaculis orci, eget varius augue tempus et. Quisque fermentum facilisis mi eu finibus. Quisque dapibus accumsan dignissim. Pellentesque sit amet porttitor massa, sit amet lacinia sapien. Vestibulum non eleifend sem. Pellentesque malesuada id justo ac ornare. Sed sit amet imperdiet leo.
	        </p>

	        <p>
	        	Nunc auctor, ante non mattis vestibulum, augue leo pharetra nisl, non interdum urna mi ac arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque condimentum a sapien a auctor. Pellentesque euismod odio non dui pretium, id cursus neque vehicula. Nunc pulvinar sapien ut libero blandit gravida. Cras tempus eu augue a placerat. Cras vel euismod odio. Pellentesque eget lacinia dolor, id varius sem. Fusce accumsan faucibus accumsan. Cras vel nulla mollis libero varius mattis. Vestibulum laoreet sodales tellus, ac tincidunt dolor cursus sit amet. Quisque eget nunc dignissim, dignissim lorem at, porttitor ligula. Nullam nec odio suscipit, ultrices eros id, suscipit lacus. Ut id magna congue, blandit magna ut, maximus orci.
	        </p>

    </div>


</div>
