<div class="inner-programs pull-left">
	<div class="tabs inner-tabs">
  		{{ townTab }}

        <div class="tab-pane inner-news active" id="about">
	        <p>{{ townInfo }}</p>
	    </div>
    </div>


</div>